*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #22222f;
    height: 100svh;
    overflow: hidden;
}

canvas.grid {
    pointer-events: none;
}